* {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h2 {
    font-family: 'Gabriola';
    font-size: 2.3em;
}

input[type=text] {
    padding: 12px;
    margin: 8px 0;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 2%;
}
.busca a {
    margin-left: 15%;    
}
#txtBusca {
    border-radius: 14px;
    border: none;
    border-bottom: 5px solid rgba(109, 95, 235, 0.5);
    width: 400px;    
    outline: none;
    height: 1.5em;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 240px);
    grid-auto-flow: row;
}

.container-produtos {
    margin: 0 5%;
    border-bottom: #EB2049 groove 2px;
}

.container-produtos:hover {
    opacity: 75%;
}

div {
    outline: none;
}

.image {
    width: 100%;
    height: 45%;
}

.image img, p {
    width: 100%;
    margin-top: 15%;
}

.informacoes {
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
}

.informacoes h3 {
    font-size: 0.8em;
    height: 20px;
}

.informacoes p {
    font-size: 0.8em;
}

.informacoes strike {
    font-size: 0.8em;
}

.descricao {
    height: 210px;
}

.cor {
    font-size: 0.7em !important;
    height: 10px;
}

.preco {
    font-size: 1.2em !important;
    color: #EB2049;
    margin-bottom: -1%;
    font-weight: bold;
}

.dropdown {
    width: 25%;
    min-width: 20%;
    margin-top: 4%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left
}

@media screen and (max-width: 1160px) {
    .container {
        grid-template-columns: repeat(3, 230px);
    }
}

@media screen and (max-width: 860px) {
    .container {
        grid-template-columns: repeat(2, 230px);
    }
}