.container-carrinho {
    width: 100vw;
    height: auto;
}

.carrinho-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    border-bottom: rgba(235, 32, 73, 0.747) groove 2px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    height: 60px;
}

.qtd-carrinho {
    text-align: right;
}

.carrinho-itens-image {
    width: 40%;
}

.carrinho-itens-image img {
    width: 50%;
    margin-bottom: 5%;
}

.carrinho-itens h3 {
    font-size: 1.3em;
}

.return {
    position: fixed;
    margin-left: 42%;
    top: 90%;
}

.return a {
    text-decoration: none;
    color: white;
    width: 100%;
    transition: color 0.8s linear;
}

.return a:hover {
    color: black;
}

.return {
    width: 15%;
    height: 5%;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 223, 167)
}

@media screen and (max-width: 1160px) {
    .return {
        width: 20%;
    }
}

@media screen and (max-width: 860px) {
    .return {
        width: 22%;
    }
}